  ::ng-deep .custom-tabmenu .p-tabmenu-nav {
    display: flex;
    gap: 120px;
    padding: 25px 30px 20px 20px; 
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border:none;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.578), 0 6px 20px 0 rgba(0, 0, 0, 0.611);
  }
  
  ::ng-deep .custom-tabmenu .p-tabmenu-item {
    margin-bottom: 10px; 
  }
  
  /* Add some padding to the tab menu items */
  ::ng-deep .custom-tabmenu .p-tabmenu-item a {
    padding: 10px 15px; 
    
  }
  
  /* Optional: Customize the active tab appearance */
  ::ng-deep .custom-tabmenu .p-tabmenu-item.p-highlight {
    background-color: #007bff;
    color: white;
  }
  